@use 'responsive';

.auth-container {
  display: flex;
  height: calc(100vh - 100px);

  // @include responsive.max-width('md') {
  //   background: red;
  // }

  @media screen and (min-width: 40px) {
    width: auto;
  }

  .image-container {
    width: 50%;
    height: 100%;
    position: relative;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      position: relative;
    }
    h1 {
      position: absolute;
      top: 20px;
      padding: 2rem;
    }

    h2 {
      position: absolute;
      bottom: 20px;
      padding: 2rem;
    }

    @media screen and (min-width: 40px) {
      display: none;
    }

    @media screen and (min-width: 320px) {
      display: none;
    }
    @media screen and (min-width: 800px) {
      display: flex;
    }
  }

  .sign-up-login-tabs {
    width: 50%;
    padding: 75px 185px;

    p-tabpanel {
      padding: 0 185px;
    }

    @media screen and (min-width: 40px) {
      padding: 40px 10px;
      width: 100%;
      margin-top: 4rem;
    }

    @media screen and (min-width: 240px) {
      width: 100%;
      padding: 40px 10px;
      margin-top: 4rem;
    }

    @media screen and (min-width: 320px) {
      width: 100%;
      padding: 40px 10px;
      margin-top: 2.5rem;
    }

    @media screen and (min-width: 350px) {
      margin-top: 0;
      padding: 40px 10px;
    }

    @media screen and (min-width: 800px) {
        
      width: 50%;
    }
  }
}
