.header-container {
  display: flex;
  justify-content: space-between;
  height: 40px;

  .left-section {
    display: flex;
    width: 100%;
    column-gap: 1rem;

    .menu {
      border: none;
      background: transparent;
      padding: 10px;
      cursor: pointer;
    }
    .logo {
      h1 {
        color: blue;
        margin: 0;
        cursor: pointer;
      }
    }
  }

  .middle-section {
    width: 100%;
    height: 100%;
    position: relative;
    .search {
      background: #edeff4;
      color: #939bb4;
      padding: 0.5rem;
      border-radius: 10px;
      display: flex;
      align-items: center;
      column-gap: 1rem;
      max-width: 600px;
      width: 100%;
      height: 100%;
    }

    .filter-popup {
      max-height: 250px;
      width: 100%;
      background: white;
      position: absolute;
      top: calc(100% + 4px);
      z-index: 1;
      padding: 1rem;
      border-radius: 10px;

      .recommendation {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 1rem;
        column-gap: 1rem;
        cursor: pointer;

        p {
          margin: 0;
        }
      }
    }

    input {
      background: transparent;
      border: none;

      &:focus {
        outline: none;
      }
    }
  }

  .right-section {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    column-gap: 1rem;

    .create {
      background: blue;
      height: 100%;
      border-radius: 10px;
      width: 40px;
      button {
        background: transparent;
        border: none;
        color: white;
        height: 100%;
        width: 100%;
        padding: 0.5rem;
      }
    }

    .upgrade {
      background: rgb(247, 207, 5);
      border-radius: 10px;
      padding: 0.5rem;
      height: 100%;
      display: flex;
      align-items: center;
      p {
        margin: 0;
      }
    }

    .logout {
      cursor: pointer;

      &:disabled {
        cursor: not-allowed;
      }
    }
    .circle-container {
      position: relative;
      width: fit-content;
      .circle {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: none;
        background: transparent;
        cursor: pointer;

        img {
          border-radius: 50%;
        }
      }

      .popup {
        position: absolute;
        height: 300px;
        width: 200px;
        right: 0;
        top: calc(100% + 1rem);
        background: red;
        z-index: 1;
      }
    }
  }
}
