<header>
  <div class="header-container">
    <div class="left-section">
      <button class="menu">
        <i class="pi pi-bars"></i>
      </button>
      <div class="logo" [routerLink]="['']">
        <h1>Q</h1>
      </div>
    </div>

    <div class="middle-section">
      <div
        class="search"
        (click)="isFilterPopupOpen = true; $event.stopPropagation()"
      >
        <img
          src="assets/svg/search.svg"
          alt="search filter"
          height="15"
          width="15"
        />
        <input
          #inputText
          type="text"
          (input)="onSearch($event)"
          placeholder="Search for flashcards"
        />
      </div>

      @if (isFilterPopupOpen) {
      <div class="filter-popup">
        @for (word of recommendedWords; track $index) {
        <div class="recommendation">
          <img
            src="assets/svg/search.svg"
            alt="search for {{ word }}"
            height="20"
            width="20"
          />
          <p>{{ word }}</p>
        </div>
        }
      </div>
      }
    </div>

    <div class="right-section">
      <div class="create">
        <button>
          <i class="pi pi-plus"></i>
        </button>
      </div>

      <div class="upgrade">
        <p>Upgrade: free 7-day trial</p>
      </div>
      @if (isLoggedInSignal()) {
        <button class="logout" (click)="logout()">Log out
          
      </button>
      } @else {
        <button class="login" [routerLink]="['', 'auth', 'log-in']">
          Log in
        </button>
      }

      <div class="circle-container" (click)="$event.stopPropagation()">
        <button class="circle" (click)="isPopupOpen = true">
          <img
            src="assets/svg/user.svg"
            alt="profile picture"
            height="30"
            width="30"
          />
        </button>

        @if (isPopupOpen) {
        <div class="popup">
          <button>
            <i class="pi pi-trophy"></i>
            Achievements
          </button>
          <button>
            <i class="pi pi-cog"></i>
            Settings
          </button>
          <button>
            <i class="pi pi-moon"></i>
            Dark Mode
          </button>
          <hr />
          <button (click)="logout()">Log out</button>
          <hr />
          <button [routerLink]="['', 'privacy']" routerLinkActive="router-link-active" >Privacy policy</button>
          <button>Help and feedback</button>
          <button>Upgrade</button>
        </div>
        }
      </div>
    </div>
  </div>
</header>
