<header>
  <div class="header-container">
    <div class="left-section">
      <button class="menu" (click)="toggleSidebar()">
        <i class="pi pi-bars"></i>
      </button>
      <div class="logo" [routerLink]="['']">
        <h1 class="main-logo" #mainLogo>Question Plus</h1>
        <h1 class="secondary-logo" #secondaryLogo>Q</h1>
      </div>

      @if (!isLoggedInSignal()) {
      <div class="popups-container">
        <app-pop-handler class="study-tools-popup">
          <div button_ui class="button-ui">
            <span>Study tools</span>
            <img
              src="assets/svg/right-arrow.svg"
              alt="down arrow"
              height="15"
              width="15"
            />
          </div>
          <div popup_ui class="popup-ui">
            <div class="students-data">
              <h4>Students</h4>
              <a class="category">
                <img
                  src="assets/svg/flashcards.svg"
                  alt="flashcards"
                  height="20"
                  width="20"
                />
                <p>Flashcards</p>
              </a>

              <a class="category">
                <img
                  src="assets/svg/learn.svg"
                  alt="learn"
                  height="20"
                  width="20"
                />
                <p>Learn</p>
              </a>

              <a class="category">
                <img
                  src="assets/svg/study.svg"
                  alt="study"
                  height="20"
                  width="20"
                />
                <p>Study Guides</p>
              </a>

              <a class="category">
                <img
                  src="assets/svg/test.svg"
                  alt="test"
                  height="20"
                  width="20"
                />
                <p>Test</p>
              </a>

              <a class="category">
                <img
                  src="assets/svg/solutions.svg"
                  alt="solutions"
                  height="20"
                  width="20"
                />
                <p>Expert Solutions</p>
              </a>
            </div>

            <hr />

            <div class="teachers-data">
              <h4>Teachers</h4>
              <a class="category">
                <img
                  src="assets/svg/live.svg"
                  alt="live"
                  height="20"
                  width="20"
                />
                <p>Live</p>
              </a>

              <a class="category">
                <img
                  src="assets/svg/blast.svg"
                  alt="blast"
                  height="20"
                  width="20"
                />
                <p>Blast</p>
              </a>

              <a class="category">
                <img
                  src="assets/svg/categories.svg"
                  alt="categories"
                  height="20"
                  width="20"
                />
                <p>Categories</p>
              </a>
            </div>
          </div>
        </app-pop-handler>

        <app-subjects-popup>
          <div button_ui class="">
            Study tools
            <img
              src="assets/svg/right-arrow.svg"
              alt="down arrow"
              height="20"
              width="20"
            />
          </div>
        </app-subjects-popup>
      </div>

      }
    </div>
    <ng-container
      [ngTemplateOutlet]="middleSection"
      [ngTemplateOutletContext]="{ isMobile: false }"
    >
    </ng-container>

    <div class="right-section">
      @if(isLoggedInSignal()) {
      <div class="create-icon" aria-label="create">
        <button>
          <i class="pi pi-plus"></i>
        </button>
      </div>

      <div class="upgrade">
        <p>Upgrade: free 7-day trial</p>
        <p>Free trial</p>
      </div>

      <div class="circle-container" (click)="$event.stopPropagation()">
        <button
          class="circle"
          aria-label="profile"
          (click)="isPopupOpen = true"
        >
          <img
            src="assets/svg/user.svg"
            alt="profile picture"
            height="30"
            width="30"
          />
        </button>

        @if (isPopupOpen) {

        <div class="popup">
          <div class="user">
            <img src="assets/svg/user.svg" alt="user's avatar" />
            <div class="user-info">
              <div class="username">
                <p>john_doe</p>
              </div>
              <div class="email">
                <p>johndoe&#64;gmail.com</p>
              </div>
            </div>
          </div>
          <hr />

          <div class="options">
            <button aria-label="achievements">
              <i class="pi pi-trophy"></i>
              Achievements
            </button>
            <button aria-label="settings">
              <i class="pi pi-cog"></i>
              Settings
            </button>
            <button aria-label="dark mode">
              <i class="pi pi-moon"></i>
              Dark Mode
            </button>
            <hr />
            <button aria-label="log out" (click)="logout()">Log out</button>
            <hr />
            <button
              aria-label="privacy policy"
              [routerLink]="['', 'privacy']"
              routerLinkActive="router-link-active"
            >
              Privacy policy
            </button>
            <button aria-label="help and feedback">Help and feedback</button>
            <button aria-label="upgrade">Upgrade</button>
          </div>
        </div>
        }
      </div>

      } @else {
      <div class="create-section">
        <button aria-label="create">
          <i class="pi pi-plus"></i>
          <span>Create</span>
        </button>
      </div>

      <button
        aria-label="log in"
        class="login"
        (click)="isAuthenticationModalShown = true"
      >
        Log in
      </button>
      }
    </div>
  </div>

  <ng-container
    [ngTemplateOutlet]="middleSection"
    [ngTemplateOutletContext]="{ isMobile: true }"
  >
  </ng-container>
</header>
@if (isAuthenticationModalShown) {
<app-authentication
  (modalVisibilityEmitter)="isAuthenticationModalShown = $event"
></app-authentication>
}

<ng-template #middleSection let-isMobile="isMobile">
  <div class="middle-section {{ isMobile ? 'mobile' : 'desktop' }}">
    <div
      class="search"
      (click)="isFilterPopupOpen = true; $event.stopPropagation()"
    >
      <img
        src="assets/svg/search.svg"
        alt="search filter"
        height="19"
        width="19"
        (click)="inputText.focus()"
      />
      <input
        #inputText
        type="text"
        (input)="onSearch($event)"
        placeholder="Search for flashcards"
        appAutofocus
      />
    </div>

     @if (isFilterPopupOpen) {
    <div
      class="filter-popup"
      [style.display]="recommendedWords.length > 0 ? 'block' : 'none'"
    >
      @for (word of recommendedWords; track $index) {
      <div class="recommendation">
        <img
          src="assets/svg/search.svg"
          alt="search for {{ word }}"
          height="20"
          width="20"
        />
        <p>{{ word }}</p>
      </div>
      }
    </div>
    }
  </div>
</ng-template>
