.sign-up-container {
  width: 100%;
  height: 100%;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  .social-media {
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
    margin-bottom: 2.5rem;
    margin-top: 1.5rem;
    width: 100%;

    a {
      text-decoration: none;

      .google,
      .facebook {
        height: 48px;
        background: transparent;
        border: 2px solid #d9dde8;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 0.5rem;
        color: #586380;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;

        &:hover {
          background: rgb(236, 236, 236);
        }
      }
    }

    .google-link {
      width: 100%;
    }

    .google {
      width: 100%;
      padding: 0 1.5rem;
      column-gap: 0.5rem;
      p {
        font-size: 16px;
        text-align: start;
      }
    }

    .facebook {
      width: 48px;
    }
  }

  .email-data {
    width: 100%;
    position: relative;

    .or-email {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      hr {
        border: 1px solid;
        color: #edeff4;
        width: 100%;
      }

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        padding: 1rem;
        background: white;
      }
    }
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .birthday {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 13px;
        color: #586380;
        margin: 0;

        h3 {
          margin: 0;
        }

        .pi-info-circle {
          font-size: 20px;
        }
      }

      .card {
        display: flex;
        column-gap: 0.5rem;
        width: 100%;
        margin-bottom: 0.5rem;

        p-select {
          height: 47px;
          width: 100%;
          background: white;
          color: black;
          border-radius: 30px;
          display: flex;
          align-items: center;
          border: 2px solid rgb(217, 221, 232);
          max-width: 120px;

          &:hover {
            background: rgb(236, 236, 236);
          }
        }

        @media screen and (min-width: 465px) {
          column-gap: 1rem;
        }
      }

      label {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 15px;
        font-weight: 500;
        color: #586380;
      }

      label + input {
        background: #f6f7fb;
        border: none;
        padding: 1rem;
        border-radius: 7px;
        font-weight: bold;
        font-size: 16px;
        height: 48px;
        margin-bottom: 0.5rem;
        &:focus {
          outline: none;
        }
      }

      input[type="password"]::placeholder {
        font-size: 9px;
        color: rgb(147, 155, 180);
      }

      input[type="checkbox"] {
        transform: scale(2);
        margin-right: 14px;
      }

      .updates,
      .policy {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #282e3e;
      }

      .updates {
        line-height: 20px;
      }

      .policy {
        line-height: 27px;

        span {
          margin: 0 5px;
          cursor: pointer;
        }

        pre {
          text-wrap: auto;

          .terms-of-service {
            text-decoration: none;
            color: #586380;
            font-weight: 600;
          }
        }
      }

      .sign-up {
        position: relative;

        .form-overlay {
          position: absolute;
          background: rgb(212, 210, 210);
          opacity: 0.5;
          height: 100%;
          width: 100%;
          z-index: 2;
          border-radius: 10px;
        }
        .submit {
          width: 100%;
          background: #4255ff;
          border-radius: 30px;
          color: white;
          height: 48px;
          border: none;
          font-size: 16px;
          font-weight: 600;
          cursor: pointer;
        }

        .disabled {
          opacity: 0.5;
        }

        .spinner {
          display: flex;
          justify-content: center;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .login {
        background: transparent;
        border: 2px solid #d9dde8;
        color: rgb(88, 99, 128);
        font-size: 16px;
        font-weight: bold;
        height: 65px;
        border-radius: 30px;
        cursor: pointer;

        &:hover {
          background: rgb(236, 236, 236);
        }
      }
    }
  }
  .error {
    color: red;
  }

  ::ng-deep {
    .p-select-label {
      color: rgb(88, 99, 128);
      font-weight: bold;
      padding-right: 0;
    }
    .p-select-dropdown {
      padding: 0;
    }

    .p-component.p-iconwrapper {
      width: 12px;
    }

    .p-ripple.p-tab.p-component {
      font-size: 21px;
    }
 
  }

  @media screen and (min-width: 625px) {
    .social-media {
      height: 64px;

      .google,
      .facebook {
        height: 100% !important;
      }

      .facebook {
        width: 70px;
      }
    }

    .submit {
      height: 64px !important;
    }
  }
}
