.sidebar-container {
  display: flex;
  flex-direction: column;
  

  button {
    background: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: rgb(105, 115, 141);
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 17px;

    &:hover {
      border-radius: 10px;
      background: rgb(237, 239, 255);
    }
  }

  hr {
    width: 100%;
    border: 0.5px solid rgb(221, 219, 219);
  }
}
