.sidebar-container {
    display: flex;
    flex-direction: column;

    button {
        background: transparent;
        border: none;
        padding: 10px;
        cursor: pointer;

        &:hover {
            background: rgb(238, 237, 237);
        }
    }

    hr {
        width: 100%;
        border: 0.5px solid rgb(221, 219, 219);
    }
}