.sidebar-container {
  display: flex;
  flex-direction: column;
  margin: 85px 0;
  margin-right: 120px;
  width: 224px;
  transition: all 0.3s ease-in-out;

  button {
    background: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: rgb(105, 115, 141);
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 14px;
    margin-bottom: 0.5rem;

    i {
      font-size: 20px;
    }

    p {
      margin: 0;
      max-width: 100%;
      overflow: hidden;
      transition: 0.2s ease-in-out;
    }

    &:hover {
      border-radius: 10px;
      background: rgb(237, 239, 255);
    }
  }

  hr {
    width: 100%;
    border: 1px solid rgb(237,239,244);
  }
  .start-title {
    color: rgb(105, 115, 141);
    font-weight: 700;
    font-size: 14px;
    margin-left: 10px;
    margin-bottom: 1.5rem;
  }
}

.minimize-sidebar {
  width: 40px;
  // margin-right: 186px;
  button > p {
    max-width: 0;
    opacity: 0;
  }

  hr {
    width: 40px;
    margin: 1.5rem 0;
  }
  .start-title {
    display: none;
  }
}
