.my-library-container {
  background: #f6f7fb;
  height: 100vh;

  p-tabs, p-tablist, p-tabpanels {
    background: transparent;
  }

  ::ng-deep {
    .p-tablist-tab-list {
      background: transparent;
      border-radius: 10px;
    }
  }
}
