footer {
  display: flex;
  justify-content: space-between;
  color: rgb(88, 99, 128);
  font-size: 17px;

  .privacy-and-terms,
  .language {
    color: rgb(88, 99, 128);

   

    &:hover {
      color: rgb(101, 125, 189);
      cursor: pointer;
    }
  }

  .privacy-and-terms a {
    &:visited{
        text-decoration: none;
        color: inherit;
    }
  }
}
