.landing-page-container {
  display: flex;
  padding-top: 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  // padding-left: 380px;
  // padding-right: 380px;
  .sidebar {
  }

  main {
    padding: 40px 200px;
  }

  .flashcard,
  .textbook,
  .question {
    border: 2px solid #edeff4;
    border-radius: 10px;
    margin: 1rem;
  }

  .flashcard {
    padding: 0 1rem;
    height: 170px;
    .title {
      font-size: 18px;
      font-weight: 600;
    }

    .total-terms {
      font-size: 14px;
      background: #edefff;
      border-radius: 20px;
      font-weight: 600;
      padding: 5px;
      width: fit-content;
    }

    .user {
      display: flex;
      align-items: center;
      column-gap: 0.5rem;
      padding-top: 0.5rem;

      .username {
        font-size: 18px;
        font-weight: 600;
      }

      .teacher {
        font-size: 15px;
        background: #edefff;
        border-radius: 20px;
        padding: 5px;
        font-weight: 600;
      }
    }
  }

  .textbook {
    height: 150px;
    max-width: 390px;
    display: flex;
    justify-content: left;
    align-items: center;
    column-gap: 1.5rem;
    padding-left: 0.5rem;

    img {
      border-radius: 8px;
    }

    .info {
      .title {
        max-width: 150px;
        font-size: 18px;
        font-weight: 600;
        margin: 0;
        margin-bottom: 0.3rem;
      }
      .edition-isbn {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 600;
        column-gap: 5px;
        margin-bottom: 0.3rem;
        white-space: nowrap;

        p {
          margin: 0;
        }
      }

      .authors {
        font-size: 13px;
        font-weight: 600;
        margin: 0;
        margin-bottom: 0.5rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 150px;
      }

      .totalTerms {
        display: flex;
        align-items: center;
        font-size: 13px;
        background: #edefff;
        border-radius: 10px;
        padding: 0.2rem;
        column-gap: 0.5rem;
        max-width: 120px;

        p {
          margin: 0;
          font-weight: 600;
        }

        i {
          padding-left: 0.5rem;
          font-size: 13px;
        }
      }
    }
  }

  .question {
    height: 150px;
    max-width: 390px;
    padding: 1rem;
    overflow: hidden;
    font-size: 14px;

    .title {
      color: #5A6581;
      font-weight: 600;
    }
  }
}
