<main>
  <div class="auth-container">
    <div class="image-container">
      <img
        src="assets/images/study.png"
        alt="study illustration"
        height="100"
        width="100"
        loading="eager"
      />
      <h1>Sign up for free</h1>
      <h2>Question+</h2>
    </div>
    <div class="sign-up-login-tabs">
      <div class="card">
        <p-tabs [value]="selectedTab">
          <p-tablist>
            <p-tab value="0" (click)="isLogin = false">Sign up</p-tab>
            <p-tab value="1" (click)="isLogin = true">Log in</p-tab>
          </p-tablist>
        </p-tabs>
        @if (isLogin) {
          <app-log-in></app-log-in>
        } @else {
          <app-sign-up></app-sign-up>
        }
        </div>
    </div>
  </div>
</main>