.popup-handler-container {
    position: relative;
    
    button {
        background: transparent;
        border: none;
        cursor: pointer;
        margin: 0;
    }
    .popup-ui {
        position: absolute;
        left: 0;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        margin-top: 1rem;
        padding: 1rem;
    }
}